<!--<table>-->
<!--    <tr valign="top">-->
<!--        <td><img src="{{ post.author.avatar(64) }}" alt="Avatar"></td>-->
<!--        <td>-->
<!--            <a href="{{ url_for('user', username=post.author.username) }}">-->
<!--                {{ post.author.username }}-->
<!--            </a>-->
<!--            says:<br>{{ post.body }}-->

<!--        </td>-->
<!--    </tr>-->
<!--</table>-->



<table>
    <tr valign="top">
        <td>
            <img src="{{ post.author.avatar(64) }}" alt="Avatar" style="border-radius:50%">
        </td>
        <td>
            <strong>
                <a href="{{ url_for('user', username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
            </strong>
            <br>

            {{ post.body }}<br>

            <small style="color: #999;">
                {{ post.timestamp.strftime('%d.%m.%Y %H:%M') }}
            </small>
        </td>
    </tr>
</table>








